// Основные переменные
$primary-color: #3490dc;
$secondary-color: #38c172;
$background-color: #f8fafc;
$text-color: #2d3748;

.header {
    background-color: $primary-color;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo img {
        height: 40px; // Задайте нужный размер логотипа
    }

    &__nav {
        .header__menu {
            display: flex;
            list-style-type: none;
            gap: 2rem;

            .menu-item {
                color: white;
                text-decoration: none;
                font-size: 1.1rem;
                transition: color 0.3s;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    &__auth {
        display: flex;
        gap: 1rem;
        align-items: center;

        .auth-button {
            background-color: transparent;
            color: white;
            padding: 0.5rem 1.5rem;
            border: 2px solid white;
            border-radius: 4px;
            text-decoration: none;
            font-size: 1rem;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: white;
                color: $primary-color;
            }
        }
    }

    &__user-nickname {
        color: inherit;
    }

    .auth-button {
        cursor: pointer;
    }

    form {
        margin-bottom: 0;
    }

}